/* Global */

:root {
    --primario: #212121;
    --secundario: #0097a7;
    --blanco: #ffffff;
    --grisClaro: #dfe9f3;
}


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

 /* GRID MENU */

.contenedor {
    max-width: 50rem;
    margin: 0 auto;
}

.prueba{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2)),
    url("./assets/portada2.jpg");
    background-size: cover;
    min-height: 1px;
    height: 100vh;
    color: white;
    margin-bottom: 2rem;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.nav{
    --state-cerrar: scale(0);
    --state-abrir: scale(1);
    --state-menu: translate(-100%);

    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-menu: translate(0);
    --state-cerrar: scale(1);
    --state-abrir: scale(0);
}

.nav-titulo {
    font-size: 2.5rem;
    z-index: 1;
}

.nav-abrir,
.nav-cerrar{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .5s transform;
}

.nav-abrir{
    transform: var(--state-abrir);
}

.nav-cerrar{
    transform: var(--state-cerrar);
}

.nav-icon{
    width: 40px;
}

.nav-links{
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: .3s transform;
}

.nav-item{
    list-style: none;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

@media (min-width: 768px) {
    .nav{
        --state-abrir: scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-cerrar: scale(0);
    }

    .nav-links{
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav-link{
        font-size: 1rem;
        letter-spacing: none;
    }
}

.boton {
    background-color: var(--secundario) ;
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2 rem;
    text-decoration: none;
    text-transform: uppercase;
    font: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton {
        width: auto
    }
}


/* Galeria */

h1 {
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea{
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img{
    width: 75vw;
    max-height: 90vh;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: black;
    color: #ffffff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background: black;
    color: #ffffff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width:400px) {
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .close{
        top: 20px;
        right: 20px;
    }
}

/* Contacto */

footer{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;

}

h3 {
    text-align: center;
}

fieldset{
    text-align: center;

}

.form{
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form__input{
    font-size: 2rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em; 
}

.form__imput--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta{
    font-size: 1rem;
    background-color: #089fe0;
    color: #ffffff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}

@media(max-width:450px){
    .form{
        padding: 3.5em 1em;
    }
}